.container.testimonials__container {
  padding-bottom: 4rem;
}

.testimonial {
  text-align: center;
  padding: 2rem;
  user-select: none;
}

.client__review-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.client__review-icon {
  width: 25px;
  height: 25px;
  margin-top: 1rem;
}

.client__review-text {
  text-align: left;
  padding: 1rem;
  border-radius: 2rem;
  background-color: var(--color-background-variant);
}

.client__review-name {
  filter: blur(5px);
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: var(--color-primary);
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .container.testimonials__container {
    width: var(--container-width-small);
  }

  .client__review {
    width: var(--container-width-small);
  }
}
